.containerCard {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.423);
    max-width: 300px;
    margin: auto;
    margin-top: 2rem;
    background: rgba(0, 0, 0, 0.368);
    text-align: center;
  }
  
  .containerCard:hover{
    box-shadow:0 4px 8px 0 rgb(56, 182, 255);
    transform: scale(1.05, 1.05);
  }

  .title {
    color: grey;
    font-size: 1.2rem;
 
  }

  .error-title{
    color: white;
  }

  .button-error-volver-home{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    background-color: rgba(186, 33, 33, 0.583);
  }

  .button-error-volver-home:hover {
  
    background-color: rgb(248, 4, 4);
    transition-duration: 0.5s;
  }

  .buttonCard {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    background-color: transparent;
    
  }
  
  h3, h4 {
    color: white;
  }
  h5 {
    text-decoration: none;
    font-size: 12px;
    color: rgb(231, 217, 217);
    padding: auto;
    margin: 3px;
    border: 1px;
  }
  h6{
    color: white
  }
  
  .buttonCard:hover {
    opacity: 0.7;
    background-color: rgb(68, 25, 94);
    transition-duration: 1s;
  }
  .CardGenres{
    display: grid;
    padding: auto;
    margin: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }