.containerCardD {
  font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #b3aca7;
    box-shadow: 0 8px 10px 0 rgba(255, 255, 255, 0.423);
    max-width: 500px;
    margin: auto;
    margin-top: 2rem;
    background: rgba(90, 75, 75, 0.368);
    text-align: center;
  }
  .title-detail{
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.5rem;
    font-size: 2rem;
    color: white;
   }

   .btn-to-home{
    margin-top: 2rem;
   }

   .btn-to-home a{
    justify-content: center;
    align-items: center;
   }

   .go-home{
 
    margin: -5px 0px 0px 30px;
    background: transparent;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: #b3aca7;
 
    outline:none;
    cursor: pointer;
    border-left: none;
    border-top: none  ;
    border-right: none;
    border-color: rgba(240, 248, 255, 0.6);
    padding: 1rem;
    transition:  0.7s ease-in-out;
   }
   .go-home:hover {
    color: #e2dedb;
    background-color: #9297966c;
   }


  .titleD {
    color: grey;
    font-size: 2rem;
 
  }

  .contet-card{
    font-size: 0.80rem;
  }

  p{
    font-size: 0.8rem;
  }