.containerLanding {
  /* background-image: url('../sony-playstation_00264701.png'); */

  background-image: url("../1097502.png");
  background-color: black;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.titleLanding {
  padding: 4rem;

  font-size: 40px;
  color: white;
}

.buttonLanding {
  border-radius: 2rem;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 2px solid #eff2ef;
  transition-duration: 0.4s;
  font-size: 36px;
  width: 250px;
}
.buttonLanding:hover {
  background-color: #ffff;
  color: black;
}
