.pagination {
   
    display: inline; 
    cursor: pointer;
    padding: 0;
    margin: 10px;
    background-color: rgb(90, 88, 88);
    color: rgb(255, 249, 249);
    padding: 8px 16px;
    border: hidden;
    transition: 0.5s;
}



.pagination:hover {
    background-color: rgb(195, 195, 195);
 }
.pagination:focus {
    background-color: rgb(60, 54, 185);
}
